body {
     background:whitesmoke;
}
 #textInput{
     background-image: url('../images/search.png');
     background-position: 10px 12px;
     background-repeat: no-repeat;
     width: 100%;
     font-size: 16px;
     padding: 12px 20px 12px 40px;
     border: 1px solid #ddd;
     margin-bottom: 12px;
     position: fixed;
     z-index:99;
     top:0;
     border-bottom:5px solid #000;
}
 .header {
     font-size:30px;
     font-weight:bold;
     margin-top:60px;
     text-align:center;
}
 .subheader {
     text-align:center;
     padding:10px 0;
}
 ul{
     list-style-type: none;
     padding: 0;
}
 li {
     padding-top:8px;
}
 .school {
     font-size:18px;
     font-weight:bold;
     padding-bottom:10px;
     color:#1000ff;
}
 iframe {
     border: 2px solid #333;
}
